.env
venv 
__pycache__
vas_report_table.png
cimb_dashboard.html
cimb_login.html
dashboard_screenshot.png
logs
downloads
vas_before_search.png
vas_after_search.png
vas_search_results.png
vas_report_table.png
vas_report_table2.png
vas_report_table3.png      
